<% if (locals.user) { %>
    <button class="btn open-button" id="toggle-chat"></button>
    <div id="user-chat-box" class="opened"> <!-- Set it to 'opened' by default -->
      <div id="feedback"></div>
      <ul id="chat-messages-list">
        <li class="other-message"></li>
        <li class="self-message"></li>
      </ul>
      <div id="chat-message-input-container">
        <input id="chat-message-input" placeholder="Type your message here...">
        <button id="send-message">Send</button>
      </div>
      <button class="btn btn-cancel" id="close-chat"><i class="fas fa-window-close"></i></button>
    </div>
  <% } %>
  
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const openButton = document.getElementById("toggle-chat");
        const closeButton = document.getElementById("close-chat");
        const chatBox = document.getElementById("user-chat-box");
      
        openButton.addEventListener("click", function () {
          chatBox.classList.add("opened");
        });
      
        closeButton.addEventListener("click", function () {
          chatBox.classList.remove("opened");
        });
      });
      
  </script>