
</form>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="index.css">


<div class="container">

    <div class="left-col">
        <div class="content">
            <h1 id="h1-heading">Chat and Connect</h1>
            <p id="p-heading">Fill out the form and receive our award-winning newsletter.</p>
        </div>
    </div>

    <div class="right-col">
        <div class="form content">
            <form action="/users/create" method="POST">
            <div class="input-wrapper">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Your Name" required id="sign-in-input">
            </div>
            <div class="input-wrapper">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your Email" required id="sign-in-input">
            </div>
            <div class="input-wrapper">
                <label for="email">Password</label>
                <input type="password" name="password" placeholder="Password" required id="sign-in-input">
            </div>
            <div class="input-wrapper">
                <label for="email">Email</label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required id="sign-in-input">
            </div>
            <div class="input-wrapper">
                <input type="submit" value="Sign Up" id="sign-in-button">
            </div>
           </form>
        </div>
    </div>
   

</div>